@font-face {
  font-family: 'Roboto Light';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf');
}

html, body {
  color: var(--clr-text-primary);
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --clr-bg-dark: #002856;
  --clr-bg-card: #0c3d75;
  --clr-text-light: #fff;
  --clr-text-primary: #002856;
}
